# Backend
PORT=3000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority
JWT_SECRET=change_me
JWT_EXPIRE=24h
COOKIE_EXPIRE=24
CLIENT_ORIGIN=http://localhost:5173

# Node environment
# NODE_ENV=production
